body{
    height: 100vh;
    background: rgb(136,59,105);
    background: radial-gradient(circle, rgba(136,59,105,1) 0%, rgba(24,8,16,1) 100%);
}

#time{
    font-size: 6em;
    color: white;
    text-shadow: 0 5px 10px rgba(149,168,247,0.5);
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}